# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/